* {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  background: #07161d url("https://i.imgur.com/49s4U3o.png") no-repeat center;
  font-family: 'PT Sans', sans-serif;
  min-height: 100%;
}

.top-stripe {
  background: url("https://i.imgur.com/4tINxpN.png") no-repeat;
}

.bottom-stripe {
  background: url("https://i.imgur.com/TGTi29J.png") no-repeat right bottom;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.top-layer {
  position: absolute;
  top: 0;
}

.bottom-layer {
  bottom:0;
  position: absolute;
}

.logo {
  text-align: right;
  padding-right: 35px;
  padding-top: 29px;
}

.logo img {
  display: inline-block;
}

.main-content {
  color: #fff;
  display: grid;
  font-weight: bold;
  font-size: 100px;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  padding-bottom: 200px;
}
.main-content > p {
  margin: 0;
}

.main-content p:first-child {
  grid-column: 1/span 2;
  padding-top: 60px;
  padding-left: 32px;
  text-align: left;
}
.main-content p:nth-child(2) {
  font-size: 40px;
  grid-column: 1/span 1;
  padding-left: 68px;
  text-align: center;
}

.main-content p:nth-child(3) {
  font-size: 60px;
  grid-column: 2/span 1;
  padding:130px 80px 35px 0;
  text-align: center;
}

.main-content p:nth-child(5) {
  display: inline-block;
  font-size: 60px;
  grid-column: 2/span 1;
  text-align: center;
  width: 670px;
}
.counter {
  font-size: 10px;
  grid-column: 1/span 1;
}

.counter img {
  padding-left: 40px;
}
.counter span {
  padding-left: 40px;
}

.coloured-text {
  color: #ffbf00;
}

.heading {
  position: absolute;
  right: 132px;
  top: 100px;
}

.game-rules {
  border: 1px solid #ffca00;
  display: grid;
  grid-template-columns: auto;
}

.table-rules {
  font-size: 30px;
  grid-column: 1/span 1;
  max-width: 660px;
}

.table-rules span {
  background-color: #ffca00;
  color: #000;
  font-size: 15px;
  padding: 14px 35px;
  position: relative;
  top: 0;
}

.table-rules ul > li {
  color: #fff;
  display: block;
  font-weight: normal;
  font-size: 15px;
  min-height: 33px;
  padding: 7px 0 0 40px;
}

.table-rules ul li:first-child {
  background: url("https://i.imgur.com/KCdOAoP.png") no-repeat left top;
}

.table-rules ul li:nth-child(2) {
  background: url("https://i.imgur.com/zdOXT8P.png") no-repeat left top;
}

.table-rules ul li:nth-child(3) {
  background: url("https://i.imgur.com/XScun4G.png") no-repeat left top;
}

.table-rules ul li:nth-child(4) {
  background: url("https://i.imgur.com/RoJtptq.png") no-repeat left top;
}

.button-container {
  align-self: center;
  grid-column: 2/span 1;
  text-align: center;
}

button {
  background-color: #ffca00;
  -webkit-box-shadow: 0px 0px 0px 14px rgba(28,40,28,1);
  -moz-box-shadow: 0px 0px 0px 14px rgba(28,40,28,1);
  box-shadow: 0px 0px 0px 14px rgba(28,40,28,1);
  border: 1px solid #ffca00;
  border-radius: 27px;
  font-size: 15px;
  padding: 22px;
  width: 340px;
}

.empty-space {
  padding: 150px;
}